html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; border-radius: 0; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Roboto", sans-serif; font-size: 15px; line-height: 1.4; }

.wrap { max-width: 1180px; margin: 0 auto !important; }
@media only screen and (max-width: 1600px) { .wrap { max-width: 940px; } }

.out { position: relative; z-index: 2; }

.row { *zoom: 1; }
.row:after { content: " "; display: table; clear: both; }
.row [class^='col'] { *zoom: 1; float: left; margin-left: 20px; }
.row [class^='col']:after { content: " "; display: table; clear: both; }
.row [class^='col']:first-child { margin-left: 0; }
@media only screen and (max-width: 1600px) { .row [class^='col'].wide { display: none; } }
@media only screen and (max-width: 1280px) { .row { margin-left: 5%; } }

.col3 { width: 380px; }
@media only screen and (max-width: 1600px) { .col3 { width: 300px; } }
@media only screen and (max-width: 960px) { .col3.col3_tools { display: none; } }
@media only screen and (max-width: 1280px) { .col3 { width: 30%; } }

.col5 { width: 220px; }

.date { text-transform: uppercase; color: #8b8b8b; font-size: 11px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header { position: relative; height: 92px; }
.header__in { position: fixed; top: 0; right: 0; left: 0; height: 92px; background: white; z-index: 999; -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.header__in.is-sticky { box-shadow: 0 0 4px 2px #bababa; }
.header__left { float: left; width: 380px; }
@media only screen and (max-width: 1600px) { .header__left { width: 300px; } }
@media only screen and (max-width: 960px) { .header__left { width: auto; } }
.header__tools { float: left; padding-top: 40px; }
.header__tools button { font-size: 14px; color: #37393a; background: transparent; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.header__tools button:hover { color: #d42125; }
.header__right { float: right; width: 300px; }
@media only screen and (max-width: 960px) { .header__right { display: none; } }

.mob-menu { display: none; position: relative; float: right; padding-top: 46px; z-index: 999; }
@media only screen and (max-width: 960px) { .mob-menu { display: block; } }
.mob-menu.is-open .mob-menu__btn { background: #d92125; }
.mob-menu.is-open .mob-menu__btn i { background: url('../img/icons-s7a47a24adf.png') 0 -567px no-repeat; width: 25px; height: 19px; }
.mob-menu.is-open .mob-menu__dropdown { display: block; }
.mob-menu__btn { display: inline-block; width: 55px; height: 46px; line-height: 46px; text-align: center; }
.mob-menu__btn i { display: inline-block; background: url('../img/icons-s7a47a24adf.png') 0 -625px no-repeat; width: 25px; height: 19px; }
.mob-menu__btn:hover i { background: url('../img/icons-s7a47a24adf.png') 0 -596px no-repeat; width: 25px; height: 19px; }
.mob-menu__dropdown { display: none; position: absolute; top: 92px; right: 0; width: 320px; background: white; box-shadow: 0 2px 3px 1px #cccccc; }
.mob-menu__sub { background: #d92125; }
.mob-menu__sub li { border-top: 1px solid #df4245; }
.mob-menu__sub li:first-child { border-top: none; }
.mob-menu__sub li a { display: block; padding: 0 15px; height: 45px; line-height: 45px; text-decoration: none; font-size: 18px; color: white; }
.mob-menu__list li { border-top: 1px solid #e8e8e8; }
.mob-menu__list li:first-child { border-top: none; }
.mob-menu__list li a { display: block; height: 45px; padding: 0 15px; line-height: 45px; text-decoration: none; font-size: 16px; color: #37393a; }
.mob-menu__list li a.mob-menu__bag { background: #e5e5e5; color: #d92125; }

.logo { float: left; padding-top: 14px; }
@media only screen and (max-width: 960px) { .logo { margin-left: 15px; } }
.logo a { display: block; font: 0/0 a; text-shadow: none; color: transparent; background: url('../img/icons-s7a47a24adf.png') 0 -440px no-repeat; width: 146px; height: 63px; }

.nav-btn-wrap { float: left; margin-left: 48px; padding-top: 54px; }
@media only screen and (max-width: 960px) { .nav-btn-wrap { display: none; } }

.nav-btn { background: url('../img/icons-s7a47a24adf.png') 0 -625px no-repeat; width: 25px; height: 19px; }
.nav-btn:hover { background: url('../img/icons-s7a47a24adf.png') 0 -596px no-repeat; width: 25px; height: 19px; }

.phone { position: relative; margin-left: 20px; float: left; padding-left: 80px; width: 380px; }
@media only screen and (max-width: 1600px) { .phone { width: 300px; } }
@media only screen and (max-width: 960px) { .phone { width: auto; padding-left: 90px; } }
@media only screen and (max-width: 600px) { .phone { padding-left: 45px; } }
@media only screen and (max-width: 568px) { .phone { position: absolute; top: 92px; left: 0; right: 0; margin-left: 0; height: 76px; padding-left: 0; background: #efefef; text-align: center; }
  .phone .phone__in { display: inline-block; padding-top: 15px; }
  .phone .phone__in:before { top: 27px; } }
.phone__in { position: relative; padding-top: 33px; padding-right: 30px; }
.phone__in:before { content: ""; position: absolute; top: 45px; right: 0; background: url('../img/icons-s7a47a24adf.png') 0 -728px no-repeat; width: 20px; height: 31px; }
.phone__in > p { color: #8b8b8b; font-size: 14px; }
.phone__in > a { display: block; text-decoration: none; font-size: 28px; font-weight: bold; color: #333333; line-height: 1; }

.m-bag { position: relative; float: right; margin-top: 45px; padding-left: 36px; font-size: 14px; }
.m-bag:before { content: ""; position: absolute; top: 6px; left: 0; background: url('../img/icons-s7a47a24adf.png') 0 0 no-repeat; width: 25px; height: 25px; }
.m-bag__number { color: #d42125; }
.m-bag__value { color: #37393a; }

.submenu { position: absolute; top: 92px; left: 0; right: 0; height: 77px; background: rgba(0, 0, 0, 0.35); padding-top: 21px; z-index: 2; }
.submenu .wrap { font-size: 0; }
@media only screen and (max-width: 960px) { .submenu { text-align: center; padding-top: 15px; height: 85px; } }
@media only screen and (max-width: 767px) { .submenu { display: none; } }
.submenu__col3 { float: left; width: 393px; }
@media only screen and (max-width: 1600px) { .submenu__col3 { width: 313px; } }
@media only screen and (max-width: 960px) { .submenu__col3 { float: none; display: inline-block; vertical-align: top; width: 240px; margin-left: 10px; }
  .submenu__col3:first-child { margin-left: 0; } }
.submenu__col3:nth-child(2) .submenu__link { background: #fd470e; }
.submenu__col3:nth-child(2) .submenu__link:hover { background: #fe4207; }
.submenu__col3:last-child .submenu__link { background: #fe6c3e; }
.submenu__col3:last-child .submenu__link:hover { background: #fa6435; }
.submenu__link { display: block; height: 36px; line-height: 36px; padding: 0 20px; font-size: 18px; color: white; text-decoration: none; background: #e33105; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; transition: background 200ms; text-align: left; }
.submenu__link:hover { background: #e83c0b; }
@media only screen and (max-width: 960px) { .submenu__link { height: 55px; padding: 5px 20px; line-height: 1.2; } }

.banner { position: relative; margin-bottom: 20px; min-height: 425px; z-index: 1; }
@media only screen and (max-width: 768px) { .banner { margin-bottom: 0; } }
@media only screen and (max-width: 568px) { .banner { min-height: 305px; } }
.banner__slide { position: relative; min-height: 425px; }
@media only screen and (max-width: 568px) { .banner__slide { min-height: 305px; } }
.banner__img { font-size: 0; }
.banner__img img { width: 100%; min-width: 1168px; height: auto; }
@media only screen and (max-width: 1180px) { .banner__img { position: absolute; top: 0; bottom: 0; right: 0; left: 0; overflow: hidden; }
  .banner__img img { position: absolute; left: 50%; margin-left: -584px; } }
.banner__content { position: absolute; top: 50%; left: 50%; max-width: 590px; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); }
@media only screen and (max-width: 1600px) { .banner__content { max-width: 470px; } }
@media only screen and (max-width: 1600px) and (max-width: 568px) { .banner__content { text-align: right; max-width: 175px; } }

.banner__title { font-size: 40px; color: white; font-weight: bold; text-transform: uppercase; line-height: 1; }
@media only screen and (max-width: 568px) { .banner__title { font-size: 28px; } }
.banner__text { font-size: 30px; color: white; font-weight: 300; }
.banner__text span { color: #e22226; }
@media only screen and (max-width: 600px) { .banner__text { display: none; } }

.slick-prev { position: absolute; top: 50%; left: 50%; -moz-transform: translateX(-623px); -ms-transform: translateX(-623px); -webkit-transform: translateX(-623px); transform: translateX(-623px); background: url('../img/icons-s7a47a24adf.png') 0 -769px no-repeat; width: 33px; height: 64px; font: 0/0 a; text-shadow: none; color: transparent; }
@media only screen and (max-width: 1600px) { .slick-prev { -moz-transform: translateX(-573px); -ms-transform: translateX(-573px); -webkit-transform: translateX(-573px); transform: translateX(-573px); } }
@media only screen and (max-width: 1180px) { .slick-prev { display: none !important; } }

.slick-next { position: absolute; top: 50%; right: 50%; -moz-transform: translateX(623px); -ms-transform: translateX(623px); -webkit-transform: translateX(623px); transform: translateX(623px); background: url('../img/icons-s7a47a24adf.png') 0 -654px no-repeat; width: 33px; height: 64px; font: 0/0 a; text-shadow: none; color: transparent; }
@media only screen and (max-width: 1600px) { .slick-next { -moz-transform: translateX(573px); -ms-transform: translateX(573px); -webkit-transform: translateX(573px); transform: translateX(573px); } }
@media only screen and (max-width: 1180px) { .slick-next { display: none !important; } }

.slick-dots { position: absolute; bottom: 27px; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.slick-dots li { display: inline-block; vertical-align: middle; margin: 0 3px; }
.slick-dots li button { display: block; width: 13px; height: 13px; border-radius: 50%; border: 1px solid white; background: transparent; font: 0/0 a; text-shadow: none; color: transparent; }
.slick-dots li.slick-active button { background: white; }
.catalog .slick-dots li button { border-color: gainsboro; }
.catalog .slick-dots li.slick-active button { background: gainsboro; }

.catalog .slick-list { position: relative; padding-bottom: 68px; }

.m-benefits { position: relative; margin-bottom: 21px; }
@media only screen and (max-width: 768px) { .m-benefits { display: none; } }
.m-benefits__list { *zoom: 1; }
.m-benefits__list:after { content: " "; display: table; clear: both; }
.m-benefits__item { position: relative; width: 20%; float: left; }
@media only screen and (max-width: 1600px) { .m-benefits__item { width: 25%; }
  .m-benefits__item.wide { display: none; } }
@media only screen and (max-width: 1023px) { .m-benefits__item { width: 33.3%; }
  .m-benefits__item.tablet { display: none; } }
.m-benefits__item:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; width: 1px; background: #efefef; }
.m-benefits__item:first-child:before { display: none; }
.m-benefits__link { position: relative; display: inline-block; padding-left: 70px; text-decoration: none; font-size: 19px; line-height: 1; color: #8b8b8b; }
.m-benefits__link span { font-size: 19px; color: #8b8b8b; text-decoration: none; }
.m-benefits__link.individual { padding-left: 60px; }
.m-benefits__link.individual:before { content: ""; position: absolute; top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 0; background: url('../img/icons-s7a47a24adf.png') 0 -95px no-repeat; width: 60px; height: 50px; }
.m-benefits__link.wholesale:before { content: ""; position: absolute; top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 5px; background: url('../img/icons-s7a47a24adf.png') 0 -155px no-repeat; width: 45px; height: 41px; }
.m-benefits__link.exclusive:before { content: ""; position: absolute; top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 5px; background: url('../img/icons-s7a47a24adf.png') 0 -206px no-repeat; width: 60px; height: 50px; }
.m-benefits__link.delivery:before { content: ""; position: absolute; top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 5px; background: url('../img/icons-s7a47a24adf.png') 0 -266px no-repeat; width: 60px; height: 50px; }
.m-benefits__link.gifts:before { position: absolute; top: 50%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 5px; background: url('../img/icons-s7a47a24adf.png') 0 -326px no-repeat; width: 60px; height: 50px; }

.catalog { position: relative; *zoom: 1; margin-bottom: 35px; border-left: 1px solid #efefef; z-index: 2; }
.catalog:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 768px) { .catalog { margin-bottom: 0; } }
.catalog__slide { float: left; width: 20%; }
@media only screen and (max-width: 1600px) { .catalog__slide { width: 25%; }
  .catalog__slide.wide { display: none; } }
@media only screen and (max-width: 768px) { .catalog__slide { width: 50%; } }
.catalog__item { position: relative; float: left; height: 252px; width: 100%; overflow: hidden; margin-bottom: -1px; border-bottom: 1px solid #efefef; }
.catalog__item:hover { overflow: visible; z-index: 2; }
.catalog__item:hover .catalog__in { box-shadow: 0 1px 7px rgba(1, 1, 1, 0.19); }
@media only screen and (max-width: 768px) { .catalog__item { float: none; }
  .catalog__item:hover { overflow: hidden; z-index: 1; }
  .catalog__item:hover .catalog__in { box-shadow: none; } }
.catalog__in { position: absolute; top: 0; left: 0; right: 0; padding: 16px 0 20px; border: 1px solid #efefef; border-left: none; text-align: center; background: white; }
.catalog__link { display: block; text-decoration: none; text-align: center; }
.catalog__link:hover .catalog__name { color: #d42125; }
.catalog__img { font-size: 0; margin-bottom: 15px; display: inline-block; }
.catalog__img img { max-width: 100%; }
.catalog__name { margin-bottom: 9px; font-size: 16px; color: #37393a; line-height: 1.2; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.catalog__buy { text-align: center; }

@media only screen and (max-width: 786px) { .catalog .slick-track { border-bottom: 1px solid #efefef; } }

.price { position: relative; display: inline-block; padding-right: 17px; font-size: 22px; margin-bottom: 10px; font-weight: bold; }
.price:before { content: ""; position: absolute; top: 50%; right: 0; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); background: url('../img/icons-s7a47a24adf.png') 0 -843px no-repeat; width: 14px; height: 16px; }

.quantity { font-size: 0; margin-bottom: 10px; }
.quantity a, .quantity input { display: inline-block; vertical-align: middle; }
.quantity__less { background: url('../img/icons-s7a47a24adf.png') 0 -413px no-repeat; width: 11px; height: 17px; }
.quantity__less.is-disabled { background: url('../img/icons-s7a47a24adf.png') 0 -386px no-repeat; width: 11px; height: 17px; }
.quantity__more { background: url('../img/icons-s7a47a24adf.png') 0 -540px no-repeat; width: 11px; height: 17px; }
.quantity__more.is-disabled { background: url('../img/icons-s7a47a24adf.png') 0 -513px no-repeat; width: 11px; height: 17px; }
.quantity__input { width: 91px; height: 28px; margin: 0 9px; border: 1px solid #d3d2d2; background-color: white; box-shadow: inset 0 0 5px rgba(1, 1, 1, 0.3); text-align: center; font: 16px "Roboto", sans-serif; -moz-transition: box-shadow 200ms; -o-transition: box-shadow 200ms; -webkit-transition: box-shadow 200ms; transition: box-shadow 200ms; }
.quantity__input:focus { box-shadow: none; }

.btn { display: inline-block; width: 91px; height: 28px; background: #de2e32; background-image: -moz-linear-gradient(#de2e32, #d42125); background-image: -webkit-linear-gradient(#de2e32, #d42125); background-image: linear-gradient(#de2e32, #d42125); font-size: 12px; text-transform: uppercase; color: white; box-shadow: 0 2px 4px rgba(1, 1, 1, 0.17); }

.m-blog { position: relative; z-index: 1; }
@media only screen and (max-width: 768px) { .m-blog { display: none; } }
.m-blog__title { position: relative; text-align: center; font-size: 24px; font-weight: bold; color: #333333; margin-bottom: 25px; text-transform: uppercase; }
.m-blog__title:before { content: ""; position: absolute; top: 50%; left: 0; right: 0; height: 1px; background: #efefef; }
.m-blog__title span { position: relative; display: inline-block; background: white; padding: 0 14px; z-index: 2; }
.m-blog__item { margin-bottom: 40px; }
.m-blog__item > p { font-size: 13px; color: #8b8b8b; margin-bottom: 5px; line-height: 1.2; }
.m-blog__link { display: inline-block; margin-bottom: 8px; text-decoration: none; line-height: 1.2; color: #333333; font-size: 16px; }

.footer { position: relative; padding-top: 30px; background: #222222; height: 140px; z-index: 1; }
@media only screen and (max-width: 600px) { .footer { height: 161px; } }
.footer__catalog { float: left; width: 220px; margin-right: 20px; }
.footer__catalog a { font-size: 14px; color: #e4e4e4; text-decoration: none; }
@media only screen and (max-width: 1024px) { .footer__catalog { display: none; } }
.footer__nav { float: left; width: 220px; margin-right: 20px; }
@media only screen and (max-width: 1600px) { .footer__nav { width: 140px; } }
.footer__nav a { font-size: 14px; color: #e4e4e4; text-decoration: none; }
@media only screen and (max-width: 1024px) { .footer__nav { display: none; } }

.socials { float: left; width: 220px; margin-right: 20px; }
@media only screen and (max-width: 1600px) { .socials { width: 140px; } }
@media only screen and (max-width: 1024px) { .socials { position: absolute; top: 24px; left: 50%; -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); text-align: center; } }
.socials > p { margin-bottom: 12px; font-size: 14px; color: #e4e4e4; }
.socials__links { font-size: 0; }
.socials__links a { display: inline-block; vertical-align: middle; width: 28px; height: 28px; line-height: 28px; margin-left: 10px; text-align: center; border: 1px solid #3f3f3f; }
.socials__links a:first-child { margin-left: 0; }
.socials__links a i { display: inline-block; vertical-align: middle; }
.socials__links a.fb i { background: url('../img/icons-s7a47a24adf.png') 0 -65px no-repeat; width: 11px; height: 20px; }
.socials__links a.vk i { background: url('../img/icons-s7a47a24adf.png') 0 -891px no-repeat; width: 10px; height: 13px; }
.socials__links a.tw i { background: url('../img/icons-s7a47a24adf.png') 0 -869px no-repeat; width: 17px; height: 12px; }

.copyrights { width: 220px; float: left; margin-right: 20px; font-size: 12px; color: #a7a7a7; }
@media only screen and (max-width: 1024px) { .copyrights { padding-left: 15px; } }
@media only screen and (max-width: 600px) { .copyrights { width: 100%; text-align: center; padding-top: 75px; }
  .copyrights span { display: none; } }

.design { float: right; width: 140px; font-size: 12px; color: #a7a7a7; }
@media only screen and (max-width: 1024px) { .design { text-align: right; padding-right: 15px; } }
@media only screen and (max-width: 600px) { .design { display: none; } }

.menu { position: fixed; top: 0; bottom: 0; left: 0; background: white; border: 1px solid #dadada; box-shadow: 0 1px 7px rgba(1, 1, 1, 0.21); -moz-transition: -moz-transform 200ms; -o-transition: -o-transform 200ms; -webkit-transition: -webkit-transform 200ms; transition: transform 200ms; -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -webkit-transform: translateX(-100%); transform: translateX(-100%); z-index: 3; }
@media only screen and (max-width: 960px) { .menu { display: none; } }
.menu.is-open { -moz-transform: translateX(0); -ms-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); }
.menu__in { float: right; width: 220px; margin-right: 20px; }
.menu__topper { margin-bottom: 38px; *zoom: 1; }
.menu__topper:after { content: " "; display: table; clear: both; }
.menu__nav { margin-left: 40px; }
.menu__nav li { height: 32px; padding: 4px 0 5px 5px; border-top: 1px solid #efefef; }
.menu__nav li:first-child { border-top: none; }
.menu__nav li a { text-decoration: none; color: #37393a; font-size: 16px; -moz-transition: color 200ms; -o-transition: color 200ms; -webkit-transition: color 200ms; transition: color 200ms; }
.menu__nav li a:hover { color: #d42125; }
