body
	font-family: 'Roboto', sans-serif
	font-size: 15px 
	line-height: 1.4

=wrap
	max-width: 1180px
	margin: 0 auto
	+r(1600)
		max-width: 940px

.wrap
	+wrap

// grid
.row
	+clr
	[class^='col']
		+clr
		float: left
		margin-left: 20px
		&:first-child
			margin-left: 0
		&.wide
			display: none	
.col3
	width: 380px
	
	+r(1600)
		width: 300px
.col5
	width: 220px	

// common blocks













































































































