// Normally mainpage styles

.header
	position: relative
	z-index: 9
	+r(568)
		height: 168px
	&__wrap
		height: 92px
	&__in
		position: fixed
		top: 0
		right: 0
		left: 0
		height: 92px
		background: #FFF
		z-index: 999
		+gpu
		&.is-sticky
			box-shadow: 0 0 4px 2px #bababa
			.phone
				+r(568)
					box-shadow: 0 5px 7px -4px #bababa
	&__left
		float: left
		width: 380px
		+r(1600)
			width: 300px
		+r(960)
			width: auto			
	&__tools
		float: left
		padding-top: 40px
	&__right
		float: right
		width: 300px
		+r(960)
			display: none
.registration
	position: relative
	&:hover
		.dropdown_registration
			visibility: visible
			opacity: 1
	&__link
		font-size: 14px
		color: #37393a
		background: transparent
		+tr(color 200ms)
		&:hover
			color: #8b8b8b
	&__done
		padding: 33px 0 
		img
			display: inline-block
			margin-bottom: 10px
		p
			font-size: 24px
			color: #37393a
			font-weight: 300
			line-height: 1  	 				
	.dropdown
		top: 22px
		left: -100px
.login
	position: relative
	&:hover
		.dropdown_login
			visibility: visible
			opacity: 1
	&__socials
		padding: 17px 20px 20px
		background: #f0f0f0
		& > p
			color: #37393a
			font-size: 24px
			font-weight: 300
			line-height: 1
			margin-bottom: 15px
		& > ul
			font-size: 0
			li
				display: inline-block
				vertical-align: middle
				margin: 0 7px   
	&__link
		font-size: 14px
		color: #37393a
		background: transparent
		+tr(color 200ms)
		&:hover
			color: #8b8b8b	  		
	.dropdown
		top: 15px
		left: -100px
		padding-top: 37px
		&:before
			top: 24px				
.form
	text-align: left
	padding: 30px 17px 15px
	&__row
		margin-bottom: 7px
		& > p
			font-size: 14px
			color: #8b8b8b
			margin-bottom: 3px
	&__submit
		+clr
		margin-top: 15px
		.btn
			float: right
			width: auto
			padding: 0 15px 		
.mob-menu
	display: none
	position: relative 
	float: right
	padding-top: 46px
	z-index: 999
	+r(960)
		display: block
	&.is-open
		.mob-menu__btn
			background: #d92125
			i
				+s(nav-btn-act)
		.mob-menu__dropdown
			display: block				
	&__btn
		display: inline-block
		width: 55px
		height: 46px
		line-height: 46px
		text-align: center
		i
			display: inline-block
			+s(nav-btn)
		&:hover
			i
				+s(nav-btn-h)
	&__dropdown
		display: none
		position: absolute
		top: 92px
		right: 0
		width: 320px
		background: #fff
		box-shadow: 0 2px 3px 1px #ccc
		overflow-y: auto
		+rh(480)
			max-height: 388px
		+rh(360)
			max-height: 268px
		+rh(320)
			max-height: 228px	  
	&__sub
		background: #d92125 
		li
			
			border-top: 1px solid #df4245
			&:first-child
				border-top: none 
			a
				display: block
				padding: 0 15px
				height: 45px
				line-height: 45px
				text-decoration: none
				font-size: 18px
				color: #fff
	&__list
		li
			
			border-top: 1px solid #e8e8e8
			&:first-child
				border-top: none
			a
				display: block
				height: 45px
				padding: 0 15px
				line-height: 45px
				text-decoration: none
				font-size: 16px
				color: #37393a
				&.mob-menu__bag
					background: #e5e5e5
					color: #d92125 	
.logo
	float: left
	padding-top: 14px
	+r(960)
		margin-left: 15px
	a
		display: block
		+hidetext
		+s(logo)
.nav-btn-wrap
	float: left
	margin-left: 48px 
	padding-top: 54px
	+r(960)
		display: none		
.nav-btn
	+s(nav-btn)
	&:hover
		+s(nav-btn-h) 
.phone
	position: relative
	margin-left: 20px
	float: left
	padding-left: 80px
	width: 380px
	+r(1600)
		width: 300px
	+r(960)
		width: auto
		padding-left: 90px
	+r(600)
		padding-left: 45px
	+r(568)
		position: absolute
		top: 92px
		left: 0
		right: 0
		margin-left: 0
		height: 76px
		padding-left: 0
		background: #efefef
		text-align: center
		.phone__in
			display: inline-block
			margin-top: 15px
			&:before
				top: 27px  	 
	&__in
		position: relative 
		margin-top: 33px
		padding-right: 30px
		.callback-wrap
			position: absolute
			top: 50%
			margin-top: -15px
			right: 0
			&:hover
				.dropdown
					visibility: visible
					opacity: 1 
			.callback
				+s(phone)
				cursor: pointer
			.dropdown
				top: 31px
				left: -120px
				padding-top: 16px
				&:before
					top: 3px
				+r(568)
					left: -216px
					&:before
						margin-left: 0
						left: 83%	 			
		& > p
			color: #8b8b8b
			font-size: 14px
		& > a		
			display: block
			text-decoration: none
			font-size: 28px
			font-weight: bold
			color: #333
			line-height: 1 
.m-bag
	position: relative
	float: right
	margin-top: 45px
	padding-left: 36px
	font-size: 14px
	&:hover
		.m-bag__number
			color: #9c9c9c
		.m-bag__value
			color: #9c9c9c
		.dropdown
			visibility: visible
			opacity: 1	
	&:before
		content: ""
		position: absolute
		top: 6px
		left: 0
		+s(basket)
	&__number
		color: #d42125
		+tr(color 200ms)
	&__value
		color: #37393a
		+tr(color 200ms)
	.dropdown
		top: 38px
		left: -117px
	&__topper
		height: 87px
		padding-top: 22px
		font-size: 24px
		line-height: 1
		font-weight: 300
	&__text
		font-size: 24px
		color: #37393a
	&__count
		color: #d42125
	&__checkout
		height: 67px
		padding-top: 18px 
		background: #f0f0f0
		.btn
			width: auto
			padding: 0 12px
			text-decoration: none
.dropdown
	visibility: hidden
	opacity: 0
	width: 260px
	position: absolute
	padding-top: 9px
	+tr(opacity 200ms)
	z-index: 2
	&:before
		content: ""
		position: absolute
		top: -4px
		left: 50%
		margin-left: -9px
		+s(dropdown-arr-top)
	&__in
		background: #fff
		box-shadow: 1px 2px 10px rgba(0,0,0,.33)
		text-align: center							 		  		
.submenu
	position: relative
	padding-top: 21px
	height: 77px
	background: #e7e7e7 
	z-index: 2
	&.submenu_index
		position: absolute
		top: 92px
		left: 0
		right: 0
		background: rgba(#000, 0.35)
	.wrap
		position: relative
		font-size: 0
	+r(960)
		text-align: center
		padding-top: 15px
		height: 85px
	+r(767)
		display: none	
	&__col3
		float: left
		width: 386px
		margin-left: 10px
		&:first-child
			margin-left: 0 
		&:hover
			.submenu__dropdown
				visibility: visible
				opacity: 1 
		+r(1600)
			width: 306px
		+r(960)
			float: none
			display: inline-block
			vertical-align: top
			width: 240px	
		&:nth-child(2)
			.submenu__dropdown
				&:before
					left: 50%
			.submenu__link
				background: #fd470e
				&:hover
					background: #fe4207 
		&:last-child
			.submenu__link
				background: #fe6c3e
				&:hover
					background: #fa6435
			.submenu__dropdown
				&:before
					left: 82%
					+arr(19, 10, #fff, t) 		 		
	&__link
		display: block
		height: 36px
		line-height: 36px
		padding: 0 20px
		font-size: 18px
		color: #fff
		text-decoration: none
		background: #e33105
		+tr(background 200ms)
		text-align: left
		&:hover
			background: #e83c0b
		&.is-active
			background-color: #9d9d9d
			box-shadow: inset 0 0 8px rgba(1, 1, 1, 0.4)
		+r(960)
			height: 55px
			padding: 5px 20px 
			line-height: 1.2
	&__dropdown
		visibility: hidden
		opacity: 0 
		position: absolute
		top: 36px
		left: 0
		right: 0
		padding-top: 20px
		+tr(opacity 200ms)
		&:before
			content: ""
			position: absolute
			top: 10px
			left: 16%
			+arr(19, 10, #f0f0f0, t)
		+r(960)
			left: 50%
			+transform(translateX(-50%))
			right: auto
			top: 50px
			width: 740px
		+r(768)
			display: none	 	
	&__dropdown-in
		+clr
		box-shadow: 1px 2px 8px rgba(0,0,0,.33)
		background: #fff		
	&__catalog
		float: left
		width: 66%
		padding-top: 18px
		font-size: 0
		background: #f0f0f0 
	&__item
		display: inline-block
		vertical-align: top
		width: 33%
		text-align: center
		margin-bottom: 18px
		& > a
			display: block
			font-size: 18px
			color: #37393a
			text-decoration: none
			font-weight: 300
			+tr(color 200ms)
			&:hover
				color: #d9282c 
	&__img
		position: relative
		text-align: center
		font-size: 0
		margin-bottom: 5px
		&:before
			content: ""
			position: absolute
			bottom: 0
			left: 0
			right: 0
			height: 8px
			+g(rgba(#f0f0f0, 0), rgba(#f0f0f0, 1))  
		img
			display: inline-block
			max-width: 100%		
	&__bestseller
		float: right
		width: 34%
		background: #fff
		text-align: center
		& > a
			position: relative
			display: block
			overflow: hidden
			padding-top: 56px
			text-decoration: none
			font-size: 18px
			color: #37393a
			line-height: 1
			img
				display: inline-block
				margin-bottom: 30px
			.bestseller
				height: 30px
				line-height: 30px
				font-size: 21px
				padding: 0 50px
				right: -39px
				top: 15px  	
		
// banner
.banner
	position: relative
	margin-bottom: 20px
	min-height: 425px 
	z-index: 1
	+r(768)
		margin-bottom: 0 
	+r(568)
		min-height: 305px		
	&__slide
		position: relative
		min-height: 425px
		+r(568)
			min-height: 305px
	&__img
		font-size: 0
		img
			width: 100%
			min-width: 1168px
			height: auto
		+r(1180)
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			overflow: hidden
			img
				position: absolute
				left: 50%
				margin-left: -584px	 
	&__content
		position: absolute
		top: 50%
		left: 50%
		max-width: 590px
		+transform(translateY(-50%))
		+r(1600)
			max-width: 470px
			+r(568)
				text-align: right
				max-width: 175px
	&__title
		font-size: 40px
		color: #fff
		font-weight: bold
		text-transform: uppercase
		line-height: 1
		+r(568)
			font-size: 28px	
	&__text
		font-size: 30px
		color: #fff
		font-weight: 300
		span
			color: #e22226
		+r(600)
			display: none	 
.slick-prev
	position: absolute
	top: 50%
	left: 50%
	+transform(translateX(-623px))
	+s(prev)
	+hidetext
	+r(1600)
		+transform(translateX(-573px))
	+r(1180)
		display: none!important
.slick-next
	position: absolute
	top: 50%
	right: 50%
	+transform(translateX(623px))
	+s(next)
	+hidetext
	+r(1600)
		+transform(translateX(573px))
	+r(1180)
		display: none!important
.slick-dots
	position: absolute
	bottom: 27px
	left: 50%
	+transform(translateX(-50%))
	li
		display: inline-block
		vertical-align: middle
		margin: 0 3px
		button
			display: block
			width: 13px
			height: 13px
			border-radius: 50%
			border: 1px solid #fff
			background: transparent
			+hidetext 
		&.slick-active
			button
				background: #fff
	.catalog &
		li
			button
				border-color: #dcdcdc
			&.slick-active
				button
					background: #dcdcdc
.slick-list
	.catalog &
		position: relative
		padding-bottom: 68px

// m-benefits
.m-benefits
	position: relative
	margin-bottom: 21px
	+r(768)
		display: none
	&__list
		+clr
	&__item
		position: relative
		width: 20%
		float: left
		+r(1600)
			width: 25%
			&.wide
				display: none		
		+r(1023)
			width: 33.3%
			&.tablet
				display: none		
		&:before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			left: 0
			width: 1px
			background: #efefef   
		&:first-child
			&:before
				display: none
		&:hover
			.tooltip
				visibility: visible
				opacity: 1
				+transform(translateY(0)) 		
	&__link
		position: relative
		display: inline-block
		padding-left: 70px 
		text-decoration: none
		font-size: 19px
		line-height: 1
		color: #8b8b8b
		+tr(color 200ms)
		&:hover
			color: #37393a
		span
			font-size: 19px
			color: #8b8b8b
			text-decoration: none	
		&.individual
			padding-left: 60px 
			&:before
				content: ""
				position: absolute
				top: 50%
				+transform(translateY(-50%))
				left: 0
				+s(icon1)
		&.wholesale
			&:before
				content: ""
				position: absolute
				top: 50%
				+transform(translateY(-50%))
				left: 5px
				+s(icon2)
		&.exclusive
			&:before
				content: ""
				position: absolute
				top: 50%
				+transform(translateY(-50%))
				left: 5px
				+s(icon3)		
		&.delivery
			&:before
				content: ""
				position: absolute
				top: 50%
				+transform(translateY(-50%))
				left: 5px
				+s(icon4)
		&.gifts
			&:before
				position: absolute
				top: 50%
				+transform(translateY(-50%))
				left: 5px
				+s(icon5)		
.tooltip
	visibility: hidden
	opacity: 0
	+transform(translateY(-40px))
	+tr(all 300ms)
	position: absolute
	bottom: 43px
	left: 0
	right: 0
	padding-bottom: 10px
	z-index: 2
	&__in
		position: relative 
		padding: 45px 20px 
		background: #d42125
		box-shadow: 1px 2px 10px rgba(0,0,0,.33)
		text-align: center
		font-size: 16px
		color: #fff
		line-height: 1.2  
		&:before
			content: ""
			position: absolute
			left: 50%
			bottom: -18px
			margin-left: -17px
			+s(tooltip)
// catalog
.catalog
	position: relative
	+clr
	margin-bottom: 35px
	border-left: 1px solid #efefef
	z-index: 2
	+r(768)
		margin-bottom: 0
	&__slide
		float: left
		width: 20%
		+r(1600)
			&.wide
				display: none
			width: 25%
		+r(768)
			width: 50% 		
	&__item
		position: relative
		float: left
		height: 252px
		width: 100%
		overflow: hidden
		margin-bottom: -1px 
		border-bottom: 1px solid #efefef
		&:hover
			overflow: visible
			z-index: 2
			.catalog__in
				box-shadow: 0 1px 7px rgba(1,1,1,.19)
		+r(768)
			float: none
			&:hover
				overflow: hidden
				z-index: 1
				.catalog__in
					box-shadow: none						
	&__in
		position: absolute
		top: 0
		left: 0
		right: 0
		padding: 16px 0 20px
		border: 1px solid #efefef
		border-left: none
		overflow: hidden
		text-align: center
		background: #FFF 
	&__link
		display: block
		text-decoration: none
		text-align: center
		&:hover
			.catalog__name
				color: #d42125
	&__img
		font-size: 0
		margin-bottom: 15px
		display: inline-block
		img
			max-width: 100%		
	&__name
		margin-bottom: 9px
		font-size: 16px
		color: #37393a
		line-height: 1.2
		+tr(color 200ms)
	&__buy
		text-align: center
		.btn
			+tr(box-shadow 200ms)
			&:hover
				box-shadow: 0 0 7px rgba(1,1,1,.41)

.slick-track
	.catalog &
		+r(786)
			border-bottom: 1px solid #efefef
.price
	position: relative
	display: inline-block
	font-size: 22px
	margin-bottom: 10px
	font-weight: bold
	&:after
		content: "a"
		+rub
.quantity
	font-size: 0
	margin-bottom: 10px
	a, input
		display: inline-block
		vertical-align: middle
	&__less
		+s(less)
		&.is-disabled
			+s(less-dsb)
	&__more
		+s(more)
		&.is-disabled
			+s(more-dsb)
	&__input
		width: 91px
		height: 28px
		margin: 0 9px 
		border: 1px solid #d3d2d2
		background-color: #fff
		box-shadow: inset 0 0 5px rgba(1,1,1,.3)
		text-align: center
		font: 16px 'Roboto', sans-serif
		+tr(box-shadow 200ms)
		&:focus
			box-shadow: none
.bestseller, .new
	position: absolute
	top: 8px
	right: -21px
	height: 24px
	line-height: 24px
	padding: 0 30px 
	+transform(rotate(45deg))
	text-align: center
	background: #f03356
	text-transform: uppercase
	color: #fff
	font-size: 14px
	font-weight: bold
.new
	background: #00bcd4 	 			
.btn
	display: inline-block
	height: 28px
	line-height: 28px
	padding: 0 11px 
	text-decoration: none
	background: #de2e32
	+g(#de2e32, #d42125)
	font-size: 12px
	text-transform: uppercase
	color: #fff 
	box-shadow: 0 2px 4px rgba(1,1,1,.17)
	&.btn_big
		height: 38px
		line-height: 38px
		font-size: 16px
		font-weight: 600  

// m-blog
.m-blog
	position: relative
	z-index: 1
	+r(768)
		display: none 
	&__title
		position: relative
		text-align: center
		font-size: 24px
		font-weight: bold
		color: #333
		margin-bottom: 25px
		text-transform: uppercase
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 0
			right: 0
			height: 1px
			background: #efefef  	
		span
			position: relative
			display: inline-block
			background: #fff
			padding: 0 14px
			z-index: 2
	&__item
		margin-bottom: 40px
		& > p
			font-size: 13px
			color: #8b8b8b
			margin-bottom: 5px
			line-height: 1.2  		  
	&__link
		display: inline-block
		margin-bottom: 8px
		text-decoration: none
		line-height: 1.2
		color: #333
		font-size: 16px
		+tr(color 200ms)
		&:hover
			color: #d42125

// footer
.footer
	position: relative
	padding-top: 30px
	background: #222
	height: 140px
	z-index: 2
	+r(600)
		height: 161px
	&__catalog
		float: left
		width: 220px
		margin-right: 20px
		a
			font-size: 14px
			color: #e4e4e4
			text-decoration: none
		+r(1024)
			display: none	
	&__nav
		float: left
		width: 220px
		margin-right: 20px
		+r(1600)
			width: 140px
		a
			font-size: 14px
			color: #e4e4e4
			text-decoration: none
		+r(1024)
			display: none	
.socials
	float: left
	width: 220px
	margin-right: 20px
	+r(1600)
		width: 140px
	+r(1024)
		position: absolute
		top: 24px
		left: 50%
		+transform(translateX(-50%))
		text-align: center	
	& > p
		margin-bottom: 12px
		font-size: 14px
		color: #e4e4e4 
	&__links
		font-size: 0
		a
			display: inline-block
			vertical-align: middle
			width: 28px
			height: 28px
			line-height: 28px
			margin-left: 10px
			text-align: center
			border: 1px solid #3f3f3f
			&:first-child
				margin-left: 0
			i
				display: inline-block
				vertical-align: middle
			&.fb
				i
					+s(fb)
			&.vk
				i
					+s(vk)
			&.tw
				i
					+s(tw)									
.copyrights
	width: 220px
	float: left
	margin-right: 20px
	font-size: 12px
	color: #a7a7a7
	+r(1024)
		padding-left: 15px
	+r(600)
		width: 100%
		text-align: center
		padding-top: 75px
		span
			display: none	 
.design
	float: right
	width: 140px
	font-size: 12px
	color: #a7a7a7 
	+r(1024)
		text-align: right
		padding-right: 15px
	+r(600)
		display: none	
// menu
.menu
	position: fixed
	top: 0
	bottom: 0
	left: 0
	background: #fff
	border: 1px solid #dadada
	box-shadow: 0 1px 7px rgba(1,1,1,.21)
	+tr(transform 200ms)
	+transform(translateX(-100%))
	z-index: 3
	+r(960)
		display: none
	&.is-open
		+transform(translateX(0))
	&__in
		float: right
		width: 220px
		margin-right: 20px
	&__topper
		margin-bottom: 38px
		+clr
	&__nav
		margin-left: 40px
		li
			height: 32px
			padding: 4px 0 5px 5px
			border-top: 1px solid #efefef
			&:first-child
				border-top: none
			a
				text-decoration: none
				color: #37393a
				font-size: 16px
				+tr(color 200ms)
				&:hover
					color: #d42125	 		  
// logged user
.user
	position: relative
	& > p
		font-size: 14px
		color: #37393a
	.dropdown
		top: 40px
		left: -53px
		width: 172px
		padding-top: 12px
		&:before
			top: -1px	
	&:hover
		.user__name
			opacity: 0.6
		.dropdown
			visibility: visible
			opacity: 1	 
	&__name
		position: relative
		padding-left: 34px
		+tr(opacity 200ms)
		cursor: pointer	
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 0
			margin-top: -20px
			+s(user)
	&__list
		padding: 10px 18px
		text-align: left
		li
			padding: 6px 0 
			border-top: 1px solid #efefef
			&:first-child
				border-top: none
			a
				text-decoration: none
				color: #37393a
				font-size: 14px
				+tr(color 200ms)
				&:hover
					color: #dd2d31	 		
				
// 404 page
.error
	&__bg
		position: absolute
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 1
		font-size: 0
		text-align: center
		&:after
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle 
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
	&__content
		position: absolute		
		top: 0
		bottom: 0
		left: 0
		right: 0
		z-index: 2
		font-size: 0
		text-align: center
		&:after
			content: ""
			display: inline-block
			width: 0
			height: 100%
			vertical-align: middle
	&__topper
		display: inline-block
		vertical-align: middle
		font-size: 24px
		padding-top: 40px
		color: #37393a
		max-width: 700px
		font-weight: 300
		line-height: 1
		+r(768)
			font-size: 22px
		+r(600)
			font-size: 20px	
		.h2
			margin-bottom: 15px
	&__menu
		position: absolute
		bottom: 30px
		left: 0
		right: 0
		font-size: 16px
		text-align: center
		z-index: 2
		+r(568)
			bottom: 0 
	&__categories
		margin-bottom: 10px
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			margin-left: 22px
			&:first-child
				margin-left: 0
			+r(600)
				display: block
				text-align: center
				margin-left: 0	
			a
				font-size: 16px
				color: #d42125
				text-decoration: none
				+r(568)
					font-size: 14px
	&__nav
		margin-bottom: 10px
		font-size: 0
		li
			display: inline-block
			vertical-align: middle
			margin-left: 22px
			&:first-child
				margin-left: 0
			a
				font-size: 16px
				color: #333
				text-decoration: none
				+r(568)
					font-size: 14px		 		 		


















































































































































































